# Numbers

## Natural Numbers - **ℕ**

These are the counting numbers starting at 1 and going up to infinity  
N = 1, 2, 3, 4, ...

## Integers - **ℤ**

Whole numbers that may be either positive or negative  
Z = ..., -3, -2, -1, 0, 1, 2, 3, ...

## Rational Numbers - **ℚ**

A rational number is any number that can be expressed as the fraction of two integers.  

Examples of Rational Numbers are 3/1, -2/3, 0.75, 3.33333...  
Examples of Irational NUmbers are &#8730;2 and &#960;    

Key Difference Between Rational and Irrational Numbers:   
Rational numbers have a finite or repeating decimal expansion.   
Irrational numbers have an infinite, non-repeating decimal expansion.

## Real Numbers - **ℝ**

Real numbers are every number from -&#8734; to +&#8734; These include all natural numbers, integers, decimals, fractions square roots &#8730; and &#960;

## Symbol Terminology

**&isin;** = Element of    
**&#8713;** = Not an elment of  
**>** = Greater than  
**&#8805;** Greater than or equal to  
**<** = Less than  
**&#8804;** = Less than or equal to  

Example: &#945; &#8805; 2,    &#945; < 5,    &#945; &isin; **ℤ**. List elements in the set &#945;?  
    Ans: &#945; = {2, 3, 4}